---
export const partial = true;
---

<svg xmlns="http://www.w3.org/2000/svg" width="600" height="800"
  ><rect width="600" height="800" x="0" y="0" fill="#FFFFFF" id="background"
  ></rect><g transform="translate(40,40)" id="visualization"
    ><g
      ><rect x="0" y="0" height="0.01167924865222858" width="5" fill="black"
        ><title>Tabacco: 22800</title></rect
      ><rect
        x="0"
        y="11.011679248652229"
        height="0.013420890995114121"
        width="5"
        fill="black"><title>Mandarine: 26200</title></rect
      ><rect
        x="0"
        y="22.025100139647343"
        height="0.018082345501056807"
        width="5"
        fill="black"><title>Kerosene: 35300</title></rect
      ><rect
        x="0"
        y="33.0431824851484"
        height="0.019465414420409388"
        width="5"
        fill="black"><title>Redcurrant: 38000</title></rect
      ><rect
        x="0"
        y="44.06264789956881"
        height="0.02289747433133016"
        width="5"
        fill="black"><title>Sandalwood: 44700</title></rect
      ><rect
        x="515"
        y="319"
        height="0.032937530190224606"
        width="5"
        fill="black"><title>Trichloroanisole: 64300</title></rect
      ><rect
        x="0"
        y="55.08554537390014"
        height="0.041031044607223066"
        width="5"
        fill="black"><title>Eucalyptus: 80100</title></rect
      ><rect
        x="0"
        y="66.12657641850737"
        height="0.041953090553420225"
        width="5"
        fill="black"><title>Blackcurrant: 81900</title></rect
      ><rect
        x="0"
        y="77.16852950906079"
        height="0.048714760825760095"
        width="5"
        fill="black"><title>Flint: 95100</title></rect
      ><rect
        x="0"
        y="88.21724426988655"
        height="0.04922700857366635"
        width="5"
        fill="black"><title>Tar: 96100</title></rect
      ><rect
        x="0"
        y="99.26647127846022"
        height="0.054810509025855936"
        width="5"
        fill="black"><title>Lychee: 107000</title></rect
      ><rect
        x="515"
        y="330.0329375301902"
        height="0.054810509025855936"
        width="5"
        fill="black"><title>Fortified Wine: 107000</title></rect
      ><rect
        x="0"
        y="110.32128178748607"
        height="0.062494225244421386"
        width="5"
        fill="black"><title>Apple: 122000</title></rect
      ><rect
        x="0"
        y="121.3837760127305"
        height="0.07734940993367445"
        width="5"
        fill="black"><title>Guava: 151000</title></rect
      ><rect
        x="0"
        y="132.46112542266417"
        height="0.09220459462295594"
        width="5"
        fill="black"><title>Hay: 180000</title></rect
      ><rect
        x="515"
        y="341.0877480392161"
        height="0.11602411490048326"
        width="5"
        fill="black"><title>Mineral: 226500</title></rect
      ><rect
        x="515"
        y="352.20377215411656"
        height="0.117816982018212"
        width="5"
        fill="black"><title>Heat: 230000</title></rect
      ><rect
        x="0"
        y="143.55333001728712"
        height="0.11986597300983703"
        width="5"
        fill="black"><title>Oak: 234000</title></rect
      ><rect
        x="0"
        y="154.67319599029696"
        height="0.12089046850564955"
        width="5"
        fill="black"><title>Rubber: 236000</title></rect
      ><rect
        x="0"
        y="165.7940864588026"
        height="0.19619088744769897"
        width="5"
        fill="black"><title>Cedar: 383000</title></rect
      ><rect
        x="0"
        y="176.9902773462503"
        height="0.21975428385133"
        width="5"
        fill="black"><title>Hazelnut: 429000</title></rect
      ><rect
        x="0"
        y="188.21003163010164"
        height="0.2761015361209047"
        width="5"
        fill="black"><title>Melon: 539000</title></rect
      ><rect
        x="515"
        y="363.3215891361348"
        height="0.29741104243373684"
        width="5"
        fill="black"><title>Aged Red Wine: 580600</title></rect
      ><rect
        x="0"
        y="199.48613316622254"
        height="0.3227160811802605"
        width="5"
        fill="black"><title>Blackberry: 630000</title></rect
      ><rect
        x="0"
        y="210.8088492474028"
        height="0.3647203965084884"
        width="5"
        fill="black"><title>Grapefruit: 712000</title></rect
      ><rect
        x="0"
        y="222.1735696439113"
        height="0.4743414145602003"
        width="5"
        fill="black"><title>Passion Fruit: 926000</title></rect
      ><rect
        x="0"
        y="233.6479110584715"
        height="0.48304962627457826"
        width="5"
        fill="black"><title>Pine: 943000</title></rect
      ><rect
        x="0"
        y="245.13096068474607"
        height="0.4840741217703908"
        width="5"
        fill="black"><title>Plum: 945000</title></rect
      ><rect
        x="0"
        y="256.61503480651646"
        height="0.48919659924945336"
        width="5"
        fill="black"><title>Green Apple: 955000</title></rect
      ><rect
        x="0"
        y="268.1042314057659"
        height="0.5378601353004342"
        width="5"
        fill="black"><title>Pear: 1050000</title></rect
      ><rect
        x="0"
        y="279.64209154106635"
        height="0.5788399551328212"
        width="5"
        fill="black"><title>Dill: 1130000</title></rect
      ><rect
        x="515"
        y="374.6190001785685"
        height="0.58396243261177"
        width="5"
        fill="black"><title>Oxygen: 1140000</title></rect
      ><rect
        x="0"
        y="291.22093149619917"
        height="0.7991064867320574"
        width="5"
        fill="black"><title>Peach: 1560000</title></rect
      ><rect
        x="0"
        y="303.0200379829312"
        height="0.9527808111035938"
        width="5"
        fill="black"><title>Thyme: 1860000</title></rect
      ><rect
        x="0"
        y="314.9728187940348"
        height="0.9527808111035938"
        width="5"
        fill="black"><title>Mint: 1860000</title></rect
      ><rect
        x="0"
        y="326.9255996051384"
        height="0.9527808111035938"
        width="5"
        fill="black"><title>Almond: 1860000</title></rect
      ><rect
        x="0"
        y="338.878380416242"
        height="1.0501078832056123"
        width="5"
        fill="black"><title>Pineapple: 2050000</title></rect
      ><rect
        x="0"
        y="350.9284882994476"
        height="1.1884147751400178"
        width="5"
        fill="black"><title>Strawberry: 2320000</title></rect
      ><rect
        x="0"
        y="363.11690307458764"
        height="1.2293945949724048"
        width="5"
        fill="black"><title>Cherry: 2400000</title></rect
      ><rect
        x="0"
        y="375.34629766956004"
        height="1.3779464418648786"
        width="5"
        fill="black"><title>Coconut: 2690000</title></rect
      ><rect
        x="0"
        y="387.7242441114249"
        height="1.4957634238830906"
        width="5"
        fill="black"><title>Lime: 2920000</title></rect
      ><rect
        x="0"
        y="400.220007535308"
        height="1.7774996852309641"
        width="5"
        fill="black"><title>Vinegar: 3470000</title></rect
      ><rect
        x="515"
        y="386.2029626111803"
        height="2.013133649267388"
        width="5"
        fill="black"><title>Aged White Wine: 3930000</title></rect
      ><rect
        x="0"
        y="412.997507220539"
        height="2.0387460366625874"
        width="5"
        fill="black"><title>Tomato: 3980000</title></rect
      ><rect
        x="0"
        y="426.03625325720157"
        height="2.4280543250705477"
        width="5"
        fill="black"><title>Onion: 4740000</title></rect
      ><rect
        x="0"
        y="439.4643075822721"
        height="2.581728649442084"
        width="5"
        fill="black"><title>Lemon: 5040000</title></rect
      ><rect
        x="515"
        y="399.21609626044767"
        height="2.8685873882689634"
        width="5"
        fill="black"><title>Yeast: 5600000</title></rect
      ><rect
        x="515"
        y="413.08468364871663"
        height="3.1370052081712174"
        width="5"
        fill="black"><title>Malolactic Fermentation: 6124000</title></rect
      ><rect
        x="515"
        y="427.22168885688785"
        height="3.286018078036875"
        width="5"
        fill="black"><title>Fruits Red Wine: 6414900</title></rect
      ><rect
        x="515"
        y="441.5077069349247"
        height="5.969581579762519"
        width="5"
        fill="black"><title>Oak Aging: 11653700</title></rect
      ><rect
        x="515"
        y="458.47728851468725"
        height="8.277001560201313"
        width="5"
        fill="black"><title>Fruits White Wine: 16158200</title></rect
      ><rect
        x="0"
        y="453.0460362317142"
        height="17.518872978356796"
        width="5"
        fill="black"><title>Blackcurrant Leaf: 34200000</title></rect
      ><rect
        x="0"
        y="481.564909210071"
        height="17.518872978356853"
        width="5"
        fill="black"><title>Old band-aid: 34200000</title></rect
      ><rect
        x="515"
        y="477.75429007488856"
        height="17.518872978356853"
        width="5"
        fill="black"><title>Brett: 34200000</title></rect
      ><rect
        x="0"
        y="510.08378218842785"
        height="17.570097753147422"
        width="5"
        fill="black"><title>Rotten Egg: 34300000</title></rect
      ><rect
        x="0"
        y="538.6538799415753"
        height="17.621322527937764"
        width="5"
        fill="black"><title>Cut Grass: 34400000</title></rect
      ><rect
        x="0"
        y="567.275202469513"
        height="17.67254730272839"
        width="5"
        fill="black"><title>Nail Polish Remover: 34500000</title></rect
      ><rect
        x="0"
        y="595.9477497722414"
        height="17.826221627099926"
        width="5"
        fill="black"><title>Green Pepper: 34800000</title></rect
      ><rect
        x="0"
        y="624.7739713993413"
        height="18.236019825424023"
        width="5"
        fill="black"><title>Sweet Corn: 35600000</title></rect
      ><rect
        x="515"
        y="506.2731630532454"
        height="18.890928571120753"
        width="5"
        fill="black"><title>Floral: 36878500</title></rect
      ><rect
        x="515"
        y="536.1640916243662"
        height="19.450046987959354"
        width="5"
        fill="black"><title>Volatile Acidity: 37970000</title></rect
      ><rect
        x="515"
        y="566.6141386123255"
        height="35.39631938024729"
        width="5"
        fill="black"><title>Late Harvest / Botrytis: 69100000</title></rect
      ><rect
        x="515"
        y="613.0104579925728"
        height="38.355062372147586"
        width="5"
        fill="black"><title>Sulfides: 74876000</title></rect
      ><rect
        x="515"
        y="662.3655203647204"
        height="57.634479635279604"
        width="5"
        fill="black"><title>Vegetal: 112512900</title></rect
      ><rect
        x="0"
        y="654.0099912247654"
        height="65.99000877523474"
        width="5"
        fill="black"><title>: 128824400</title></rect
      ></g
    ><g fill="none" stroke-opacity="1"
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,210.99120944565703C260,210.99120944565703,260,459.1438252842615,515,459.1438252842615"
          stroke="#cccccc"
          stroke-width="1"></path><title>
          Grapefruit → Fruits White Wine: 712000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,440.75517190699316C260,440.75517190699316,260,465.4634257501676,515,465.4634257501676"
          stroke="#cccccc"
          stroke-width="2.581728649442057"></path><title>
          Lemon → Fruits White Wine: 5040000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,388.47212582336647C260,388.47212582336647,260,463.424679713505,515,463.424679713505"
          stroke="#cccccc"
          stroke-width="1.4957634238830966"></path><title>
          Lime → Fruits White Wine: 2920000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,11.018389694149786C260,11.018389694149786,260,458.4839989601848,515,458.4839989601848"
          stroke="#cccccc"
          stroke-width="1"></path><title>
          Mandarine → Fruits White Wine: 26200
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,268.37316147341613C260,268.37316147341613,260,460.55865356397555,515,460.55865356397555"
          stroke="#cccccc"
          stroke-width="1"></path><title>
          Pear → Fruits White Wine: 1050000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,110.35252890010828C260,110.35252890010828,260,458.57676702733045,515,458.57676702733045"
          stroke="#2ca02c"
          stroke-width="1"></path><title>
          Apple → Fruits White Wine: 122000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,256.8596331061412C260,256.8596331061412,260,460.0451251967006,515,460.0451251967006"
          stroke="#cccccc"
          stroke-width="1"></path><title>
          Green Apple → Fruits White Wine: 955000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,291.6204847395652C260,291.6204847395652,260,461.2271368749918,515,461.2271368749918"
          stroke="#cccccc"
          stroke-width="1"></path><title>
          Peach → Fruits White Wine: 1560000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,188.3480823981621C260,188.3480823981621,260,458.8234143179468,515,458.8234143179468"
          stroke="#cccccc"
          stroke-width="1"></path><title>
          Melon → Fruits White Wine: 539000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,121.42245071769733C260,121.42245071769733,260,458.64668884491954,515,458.64668884491954"
          stroke="#cccccc"
          stroke-width="1"></path><title>
          Guava → Fruits White Wine: 151000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,339.4034343578448C260,339.4034343578448,260,462.1517440599606,515,462.1517440599606"
          stroke="#cccccc"
          stroke-width="1.0501078832055986"></path><title>
          Pineapple → Fruits White Wine: 2050000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,222.41074035119138C260,222.41074035119138,260,459.5633561897958,515,459.5633561897958"
          stroke="#cccccc"
          stroke-width="1"></path><title>
          Passion Fruit → Fruits White Wine: 926000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,99.29387653297314C260,99.29387653297314,260,458.5181146601953,515,458.5181146601953"
          stroke="#cccccc"
          stroke-width="1"></path><title>
          Lychee → Fruits White Wine: 107000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,33.0529151923586C260,33.0529151923586,260,427.23142156409807,515,427.23142156409807"
          stroke="#cccccc"
          stroke-width="1"></path><title>
          Redcurrant → Fruits Red Wine: 38000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,66.14755296378408C260,66.14755296378408,260,427.26213081658494,515,427.26213081658494"
          stroke="#9467bd"
          stroke-width="1"></path><title>
          Blackcurrant → Fruits Red Wine: 81900
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,351.52269568701763C260,351.52269568701763,260,428.6841049523823,515,428.6841049523823"
          stroke="#cccccc"
          stroke-width="1.1884147751399945"></path><title>
          Strawberry → Fruits Red Wine: 2320000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,199.64749120681267C260,199.64749120681267,260,427.4444654024518,515,427.4444654024518"
          stroke="#d62728"
          stroke-width="1"></path><title>
          Blackberry → Fruits Red Wine: 630000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,363.73160037207384C260,363.73160037207384,260,429.8930096374385,515,429.8930096374385"
          stroke="#7f7f7f"
          stroke-width="1.229394594972408"></path><title>
          Cherry → Fruits Red Wine: 2400000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,245.37299774563127C260,245.37299774563127,260,427.8478605039271,515,427.8478605039271"
          stroke="#cccccc"
          stroke-width="1"></path><title>
          Plum → Fruits Red Wine: 945000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,675.1582163341924C260,675.1582163341924,260,515.7186273388058,515,515.7186273388058"
          stroke="#1f77b4"
          stroke-width="18.890928571120813"></path><title>
          → Floral: 36878500
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,604.8608605857913C260,604.8608605857913,260,711.08688918645,515,711.08688918645"
          stroke="#cccccc"
          stroke-width="17.82622162709992"></path><title>
          Green Pepper → Vegetal: 34800000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,414.01688023887027C260,414.01688023887027,260,666.014209848274,515,666.014209848274"
          stroke="#cccccc"
          stroke-width="2.0387460366625767"></path><title>
          Tomato → Vegetal: 3980000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,547.4645412055442C260,547.4645412055442,260,693.3631171089311,515,693.3631171089311"
          stroke="#17becf"
          stroke-width="17.62132252793785"></path><title>
          Cut Grass → Vegetal: 34400000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,279.93151151863276C260,279.93151151863276,260,662.7998552301692,515,662.7998552301692"
          stroke="#cccccc"
          stroke-width="1"></path><title>Dill → Vegetal: 1130000</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,303.496428388483C260,303.496428388483,260,663.5656656132874,515,663.5656656132874"
          stroke="#cccccc"
          stroke-width="1"></path><title>Thyme → Vegetal: 1860000</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,315.4492091995866C260,315.4492091995866,260,664.518446424391,515,664.518446424391"
          stroke="#cccccc"
          stroke-width="1"></path><title>Mint → Vegetal: 1860000</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,0.005839624326118938C260,0.005839624326118938,260,662.3713599890465,515,662.3713599890465"
          stroke="#cccccc"
          stroke-width="1"></path><title>Tabacco → Vegetal: 22800</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,132.50722771997565C260,132.50722771997565,260,662.4643329552913,515,662.4643329552913"
          stroke="#cccccc"
          stroke-width="1"></path><title>Hay → Vegetal: 180000</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,461.8054727208926C260,461.8054727208926,260,675.7930193557837,515,675.7930193557837"
          stroke="#8c564b"
          stroke-width="17.518872978356814"></path><title>
          Blackcurrant Leaf → Vegetal: 34200000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,55.10606089620374C260,55.10606089620374,260,662.3977151356763,515,662.3977151356763"
          stroke="#cccccc"
          stroke-width="1"></path><title>Eucalyptus → Vegetal: 80100</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,77.19288688947368C260,77.19288688947368,260,341.13018776513,515,341.13018776513"
          stroke="#cccccc"
          stroke-width="1"></path><title>Flint → Mineral: 95100</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,22.034141312397868C260,22.034141312397868,260,341.0967892119666,515,341.0967892119666"
          stroke="#cccccc"
          stroke-width="1"></path><title>Kerosene → Mineral: 35300</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,88.2418577741734C260,88.2418577741734,260,341.17915864982973,515,341.17915864982973"
          stroke="#cccccc"
          stroke-width="1"></path><title>Tar → Mineral: 96100</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,658.5443570644471C260,658.5443570644471,260,400.6503899545821,515,400.6503899545821"
          stroke="#1f77b4"
          stroke-width="2.8685873882689523"></path><title>
          → Yeast: 5600000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,661.5471533626672C260,661.5471533626672,260,414.65318625280224,515,414.65318625280224"
          stroke="#1f77b4"
          stroke-width="3.1370052081712614"></path><title>
          → Malolactic Fermentation: 6124000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,664.4142040076924C260,664.4142040076924,260,446.17874047374767,515,446.17874047374767"
          stroke="#1f77b4"
          stroke-width="2.597096081879212"></path><title>
          → Oak Aging: 5070000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,233.88943587160878C260,233.88943587160878,260,442.30794036670227,515,442.30794036670227"
          stroke="#cccccc"
          stroke-width="1"></path><title>Pine → Oak Aging: 943000</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,165.89218190252646C260,165.89218190252646,260,441.7485658259898,515,441.7485658259898"
          stroke="#e377c2"
          stroke-width="1"></path><title>Cedar → Oak Aging: 383000</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,44.07409663673449C260,44.07409663673449,260,441.5191556720904,515,441.5191556720904"
          stroke="#cccccc"
          stroke-width="1"></path><title>
          Sandalwood → Oak Aging: 44700
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,143.61326300379204C260,143.61326300379204,260,441.59053739576103,515,441.59053739576103"
          stroke="#cccccc"
          stroke-width="1"></path><title>Oak → Oak Aging: 234000</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,327.4019900106902C260,327.4019900106902,260,443.02585558539135,515,443.02585558539135"
          stroke="#ff7f0e"
          stroke-width="1"></path><title>Almond → Oak Aging: 1860000</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,177.10015448817597C260,177.10015448817597,260,441.9565384116393,515,441.9565384116393"
          stroke="#cccccc"
          stroke-width="1"></path><title>Hazelnut → Oak Aging: 429000</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,376.0352708904925C260,376.0352708904925,260,444.1912192118756,515,444.1912192118756"
          stroke="#bcbd22"
          stroke-width="1.3779464418649074"></path><title>
          Coconut → Oak Aging: 2690000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,702.3018403098764C260,702.3018403098764,260,584.3122983024491,515,584.3122983024491"
          stroke="#1f77b4"
          stroke-width="35.39631938024725"></path><title>
          → Late Harvest / Botrytis: 69100000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,654.0703340094686C260,654.0703340094686,260,330.06034278470315,515,330.06034278470315"
          stroke="#1f77b4"
          stroke-width="1"></path><title>→ Fortified Wine: 107000</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,656.103496545679C260,656.103496545679,260,387.2095294358139,515,387.2095294358139"
          stroke="#1f77b4"
          stroke-width="2.0131336492673184"></path><title>
          → Aged White Wine: 3930000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,654.3642617672167C260,654.3642617672167,260,363.47029465735164,515,363.47029465735164"
          stroke="#1f77b4"
          stroke-width="1"></path><title>→ Aged Red Wine: 580600</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,654.0264599898605C260,654.0264599898605,260,319.01646876509517,515,319.01646876509517"
          stroke="#1f77b4"
          stroke-width="1"></path><title>→ Trichloroanisole: 64300</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,654.8049485047395C260,654.8049485047395,260,374.91098139487445,515,374.91098139487445"
          stroke="#1f77b4"
          stroke-width="1"></path><title>→ Oxygen: 1140000</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,654.1566477549907C260,654.1566477549907,260,352.26268064512567,515,352.26268064512567"
          stroke="#1f77b4"
          stroke-width="1"></path><title>→ Heat: 230000</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,576.1114761208772C260,576.1114761208772,260,546.7778649609613,515,546.7778649609613"
          stroke="#cccccc"
          stroke-width="17.672547302728365"></path><title>
          Nail Polish Remover → Volatile Acidity: 34500000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,401.1087573779235C260,401.1087573779235,260,537.0528414669816,515,537.0528414669816"
          stroke="#cccccc"
          stroke-width="1.77749968523094"></path><title>
          Vinegar → Volatile Acidity: 3470000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,633.8919813120534C260,633.8919813120534,260,642.2475104520084,515,642.2475104520084"
          stroke="#cccccc"
          stroke-width="18.236019825424055"></path><title>
          Sweet Corn → Sulfides: 35600000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,427.25028041973684C260,427.25028041973684,260,614.3453756236137,515,614.3453756236137"
          stroke="#cccccc"
          stroke-width="2.428054325070506"></path><title>
          Onion → Sulfides: 4740000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,518.8688310650015C260,518.8688310650015,260,624.3444516627227,515,624.3444516627227"
          stroke="#cccccc"
          stroke-width="17.570097753147333"></path><title>
          Rotten Egg → Sulfides: 34300000
        </title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,154.73364122454976C260,154.73364122454976,260,613.0709032268256,515,613.0709032268256"
          stroke="#cccccc"
          stroke-width="1"></path><title>Rubber → Sulfides: 236000</title></g
      ><g style="mix-blend-mode: multiply;"
        ><path
          d="M5,490.3243456992494C260,490.3243456992494,260,486.513726564067,515,486.513726564067"
          stroke="#cccccc"
          stroke-width="17.518872978356814"></path><title>
          Old band-aid → Brett: 34200000
        </title></g
      ></g
    ><g
      ><text x="9" y="0.00583962432611429" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Tabacco</tspan
        ></text
      ><text x="9" y="11.018389694149786" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Mandarine</tspan
        ></text
      ><text x="9" y="22.03414131239787" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Kerosene</tspan
        ></text
      ><text x="9" y="33.052915192358604" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Redcurrant</tspan
        ></text
      ><text x="9" y="44.074096636734474" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Sandalwood</tspan
        ></text
      ><text x="511" y="319.0164687650951" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Trichloroanisole</tspan
        ></text
      ><text x="9" y="55.10606089620375" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Eucalyptus</tspan
        ></text
      ><text x="9" y="66.14755296378408" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Blackcurrant</tspan
        ></text
      ><text x="9" y="77.19288688947367" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Flint</tspan
        ></text
      ><text x="9" y="88.24185777417338" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Tar</tspan
        ></text
      ><text x="9" y="99.29387653297314" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Lychee</tspan
        ></text
      ><text x="511" y="330.06034278470315" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Fortified Wine</tspan
        ></text
      ><text x="9" y="110.35252890010828" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Apple</tspan
        ></text
      ><text x="9" y="121.42245071769733" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Guava</tspan
        ></text
      ><text x="9" y="132.50722771997565" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Hay</tspan
        ></text
      ><text x="511" y="341.1457600966663" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Mineral</tspan
        ></text
      ><text x="511" y="352.26268064512567" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Heat</tspan
        ></text
      ><text x="9" y="143.61326300379204" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Oak</tspan
        ></text
      ><text x="9" y="154.73364122454979" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Rubber</tspan
        ></text
      ><text x="9" y="165.89218190252646" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Cedar</tspan
        ></text
      ><text x="9" y="177.10015448817597" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Hazelnut</tspan
        ></text
      ><text x="9" y="188.3480823981621" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Melon</tspan
        ></text
      ><text x="511" y="363.47029465735164" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Aged Red Wine</tspan
        ></text
      ><text x="9" y="199.64749120681267" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Blackberry</tspan
        ></text
      ><text x="9" y="210.99120944565703" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Grapefruit</tspan
        ></text
      ><text x="9" y="222.4107403511914" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Passion Fruit</tspan
        ></text
      ><text x="9" y="233.88943587160878" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Pine</tspan
        ></text
      ><text x="9" y="245.37299774563127" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Plum</tspan
        ></text
      ><text x="9" y="256.8596331061412" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Green Apple</tspan
        ></text
      ><text x="9" y="268.37316147341613" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Pear</tspan
        ></text
      ><text x="9" y="279.93151151863276" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Dill</tspan
        ></text
      ><text x="511" y="374.9109813948744" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Oxygen</tspan
        ></text
      ><text x="9" y="291.6204847395652" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Peach</tspan
        ></text
      ><text x="9" y="303.496428388483" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Thyme</tspan
        ></text
      ><text x="9" y="315.4492091995866" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Mint</tspan
        ></text
      ><text x="9" y="327.4019900106902" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Almond</tspan
        ></text
      ><text x="9" y="339.40343435784484" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Pineapple</tspan
        ></text
      ><text x="9" y="351.52269568701763" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Strawberry</tspan
        ></text
      ><text x="9" y="363.73160037207384" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Cherry</tspan
        ></text
      ><text x="9" y="376.0352708904925" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Coconut</tspan
        ></text
      ><text x="9" y="388.47212582336647" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Lime</tspan
        ></text
      ><text x="9" y="401.1087573779235" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Vinegar</tspan
        ></text
      ><text x="511" y="387.209529435814" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Aged White Wine</tspan
        ></text
      ><text x="9" y="414.01688023887027" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Tomato</tspan
        ></text
      ><text x="9" y="427.25028041973684" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Onion</tspan
        ></text
      ><text x="9" y="440.75517190699316" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Lemon</tspan
        ></text
      ><text x="511" y="400.6503899545821" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Yeast</tspan
        ></text
      ><text x="511" y="414.65318625280224" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Malolactic Fermentation</tspan
        ></text
      ><text x="511" y="428.86469789590626" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Fruits Red Wine</tspan
        ></text
      ><text x="511" y="444.49249772480596" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Oak Aging</tspan
        ></text
      ><text x="511" y="462.6157892947879" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Fruits White Wine</tspan
        ></text
      ><text x="9" y="461.80547272089257" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Blackcurrant Leaf</tspan
        ></text
      ><text x="9" y="490.3243456992494" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Old band-aid</tspan
        ></text
      ><text x="511" y="486.513726564067" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Brett</tspan
        ></text
      ><text x="9" y="518.8688310650016" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Rotten Egg</tspan
        ></text
      ><text x="9" y="547.4645412055442" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Cut Grass</tspan
        ></text
      ><text x="9" y="576.1114761208772" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Nail Polish Remover</tspan
        ></text
      ><text x="9" y="604.8608605857914" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Green Pepper</tspan
        ></text
      ><text x="9" y="633.8919813120533" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Sweet Corn</tspan
        ></text
      ><text x="511" y="515.7186273388058" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Floral</tspan
        ></text
      ><text x="511" y="545.8891151183459" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Volatile Acidity</tspan
        ></text
      ><text x="511" y="584.3122983024491" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Late Harvest / Botrytis</tspan
        ></text
      ><text x="511" y="632.1879891786466" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Sulfides</tspan
        ></text
      ><text x="511" y="691.1827601823602" text-anchor="end"
        ><tspan
          alignment-baseline="middle"
          x="511"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
          >Vegetal</tspan
        ></text
      ><text x="9" y="687.0049956123828" text-anchor="start"
        ><tspan
          alignment-baseline="middle"
          x="9"
          style="font-family: Arial, sans-serif; font-size: 10px; fill: black; font-weight: bold;"
        ></tspan></text
      ></g
    ><g
      ><text
        x="2.5"
        y="-4"
        text-anchor="middle"
        style="font-family: Arial, sans-serif; font-size: 12px; fill: rgb(123, 123, 123); font-weight: bold;"
        >Aroma</text
      ><text
        x="517.5"
        y="315"
        text-anchor="middle"
        style="font-family: Arial, sans-serif; font-size: 12px; fill: rgb(123, 123, 123); font-weight: bold;"
        >Category</text
      ></g
    ></g
  ></svg
>
